In [ ]:
print("Hello")

Hello

In [ ]:
!java -version

openjdk version "11.0.15" 2022-04-19
OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1)
OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)

In [ ]:
!wget q https://dlcdn.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

--2022-05-26 06:22:24--  http://q/
Resolving q (q)... failed: Name or service not known.
wget: unable to resolve host address ‘q’
--2022-05-26 06:22:24--  https://dlcdn.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 235899716 (225M) [application/x-gzip]
Saving to: ‘spark-2.4.8-bin-hadoop2.7.tgz.1’

spark-2.4.8-bin-had 100%[===================>] 224.97M   176MB/s    in 1.3s

2022-05-26 06:22:26 (176 MB/s) - ‘spark-2.4.8-bin-hadoop2.7.tgz.1’ saved [235899716/235899716]

FINISHED --2022-05-26 06:22:26--
Total wall clock time: 1.3s
Downloaded: 1 files, 225M in 1.3s (176 MB/s)

In [ ]:
!tar xf spark-2.4.8-bin-hadoop2.7.tgz

In [ ]:
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
print("spark")

spark

In [ ]:
#from google.colab import files
#files.upload()

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 24 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9167adccda95bd64bc135bd5a0305c0033ba7f88138b86133d2dbec5a698b6f2
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
spark.stop()

In [ ]:
import pyspark

In [ ]:
from pyspark import SparkContext
from pyspark import SparkConf
conf = SparkConf()
conf.setMaster("local")
conf.setAppName("testApp")
sc = SparkContext(conf=conf)

In [172]:
data= sc.textFile("/content/sample_data/rejected_2007_to_2018Q4.csv")

In [173]:
data.cache()

/content/sample_data/rejected_2007_to_2018Q4.csv MapPartitionsRDD[225] at textFile at NativeMethodAccessorImpl.java:0

In [174]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [175]:
data.count()

21342776

In [176]:
parData = data.getNumPartitions()

In [177]:
print(parData)

41

In [179]:
rePartitionData=data.repartition(500)

In [188]:
dataSchema= spark.read.csv("/content/sample_data/rejected_2007_to_2018Q4.csv",sep=",", inferSchema=True, header=True)

In [189]:
dataSchema.show(5)

+----------------+-------------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+
|Amount Requested|   Application Date|          Loan Title|Risk_Score|Debt-To-Income Ratio|Zip Code|State|Employment Length|Policy Code|
+----------------+-------------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+
|          1000.0|2007-05-26 00:00:00|Wedding Covered b...|     693.0|                 10%|   481xx|   NM|          4 years|        0.0|
|          1000.0|2007-05-26 00:00:00|  Consolidating Debt|     703.0|                 10%|   010xx|   MA|         < 1 year|        0.0|
|         11000.0|2007-05-27 00:00:00|Want to consolida...|     715.0|                 10%|   212xx|   MD|           1 year|        0.0|
|          6000.0|2007-05-27 00:00:00|             waksman|     698.0|              38.64%|   017xx|   MA|         < 1 year|        0.0|
|          1500.0|2007-05-27 00:00:00|              mdrigo|     509.0|               9.43%|   209xx|   MD|         < 1 year|        0.0|
+----------------+-------------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+
only showing top 5 rows

In [190]:
from pyspark.sql.functions import avg
from pyspark.sql.functions import window
from pyspark.sql.functions import col
from pyspark.sql import functions as F
from pyspark.sql.window import Window
import datetime
from pyspark.sql.functions import year, month, dayofmonth

In [186]:
tblColData=dataSchema.withColumn('Application Date',F.year(F.to_timestamp('Application Date', 'yyyy')))

In [191]:
tblColData.show(5)

+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|Amount Requested|Application Date|        Loan Title|Risk_Score|Debt-To-Income Ratio|Zip Code|State|Employment Length|Policy Code|
+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|          2000.0|            2016|debt_consolidation|      null|               4.24%|   891xx|   NV|         < 1 year|        0.0|
|          5000.0|            2016|debt_consolidation|      null|                  0%|   918xx|   CA|         < 1 year|        0.0|
|          8775.0|            2016|debt_consolidation|      null|              13.82%|   380xx|   TN|          5 years|        0.0|
|          1000.0|            2016|    small_business|      null|              16.67%|   392xx|   MS|         < 1 year|        0.0|
|         10000.0|            2016|debt_consolidation|      null|               33.8%|   453xx|   OH|         < 1 year|        0.0|
+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
only showing top 5 rows

In [193]:
tblColData1=tblColData.withColumnRenamed("Application Date","ApplicationDate")

In [209]:
dataYear=tblColData1.filter(tblColData1.ApplicationDate >= 2009)

In [210]:
dataYear.show(4)

+----------------+---------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|Amount Requested|ApplicationDate|        Loan Title|Risk_Score|Debt-To-Income Ratio|Zip Code|State|Employment Length|Policy Code|
+----------------+---------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|          8000.0|           2011|       Temp Relief|     771.0|               6.91%|   333xx|   FL|        10+ years|        0.0|
|          2000.0|           2011|debt_consolidation|     589.0|              27.73%|   322xx|   FL|         < 1 year|        0.0|
|         30000.0|           2012|  home_improvement|       0.0|                  0%|   152xx|   PA|         < 1 year|        0.0|
|         12000.0|           2010|       credit_card|     549.0|              32.74%|   773xx|   TX|          7 years|        0.0|
+----------------+---------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
only showing top 4 rows

In [211]:
tblColRe=dataYear.withColumnRenamed('ApplicationDate','Application Date')

In [212]:
tblColRe.show(5)

+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|Amount Requested|Application Date|        Loan Title|Risk_Score|Debt-To-Income Ratio|Zip Code|State|Employment Length|Policy Code|
+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
|          8000.0|            2011|       Temp Relief|     771.0|               6.91%|   333xx|   FL|        10+ years|        0.0|
|          2000.0|            2011|debt_consolidation|     589.0|              27.73%|   322xx|   FL|         < 1 year|        0.0|
|         30000.0|            2012|  home_improvement|       0.0|                  0%|   152xx|   PA|         < 1 year|        0.0|
|         12000.0|            2010|       credit_card|     549.0|              32.74%|   773xx|   TX|          7 years|        0.0|
|          5800.0|            2016|       credit_card|      null|              32.04%|   330xx|   FL|         < 1 year|        0.0|
+----------------+----------------+------------------+----------+--------------------+--------+-----+-----------------+-----------+
only showing top 5 rows

In [213]:

movAvg=tblColRe.withColumn("RiskScoreMA100. ", avg(tblColRe["Risk_Score"]).over(Window.partitionBy("Application Date").rowsBetween(-100,1)) )

In [214]:
movAvg.show()

+----------------+----------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+-----------------+
|Amount Requested|Application Date|          Loan Title|Risk_Score|Debt-To-Income Ratio|Zip Code|State|Employment Length|Policy Code| RiskScoreMA100. |
+----------------+----------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+-----------------+
|          2000.0|            2018|               Other|     600.0|                  0%|   154xx|   PA|         < 1 year|        0.0|            600.0|
|          5000.0|            2018|  Debt consolidation|      null|              11.29%|   161xx|   PA|         < 1 year|        0.0|            600.0|
|          6500.0|            2018|  Debt consolidation|      null|               7.63%|   544xx|   WI|          2 years|        0.0|            573.5|
|          5000.0|            2018|    Home improvement|     547.0|              13.09%|   067xx|   CT|         < 1 year|        0.0|            573.5|
|          9000.0|            2018|  Debt consolidation|      null|              28.16%|   959xx|   CA|         < 1 year|        0.0|            573.5|
|          5000.0|            2018|  Debt consolidation|      null|               8.77%|   928xx|   CA|         < 1 year|        0.0|            573.5|
|          5000.0|            2018|  Debt consolidation|      null|              10.14%|   939xx|   CA|         < 1 year|        0.0|            573.5|
|         11000.0|            2018|  Debt consolidation|      null|              37.51%|   299xx|   SC|         < 1 year|        0.0|            573.5|
|          5000.0|            2018|Credit card refin...|      null|              45.13%|   750xx|   TX|         < 1 year|        0.0|            573.5|
|          5000.0|            2018|Credit card refin...|      null|             336.54%|   395xx|   MS|         < 1 year|        0.0|            573.5|
|          4000.0|            2018|  Debt consolidation|      null|              11.28%|   297xx|   SC|         < 1 year|        0.0|            573.5|
|          5000.0|            2018|    Home improvement|      null|              15.27%|   207xx|   MD|         < 1 year|        0.0|            573.5|
|         12500.0|            2018|Credit card refin...|      null|                 12%|   221xx|   VA|         < 1 year|        0.0|            573.5|
|         20000.0|            2018|  Debt consolidation|      null|              19.74%|   891xx|   NV|         < 1 year|        0.0|611.3333333333334|
|         20000.0|            2018|  Debt consolidation|     687.0|              12.26%|   973xx|   OR|        10+ years|        0.0|611.3333333333334|
|          3000.0|            2018|       Car financing|      null|               1.09%|   936xx|   CA|         < 1 year|        0.0|611.3333333333334|
|         35000.0|            2018|  Debt consolidation|      null|              31.52%|   370xx|   TN|         < 1 year|        0.0|611.3333333333334|
|         12000.0|            2018|Credit card refin...|      null|               9.49%|   551xx|   MN|         < 1 year|        0.0|611.3333333333334|
|          5000.0|            2018|               Other|      null|              17.64%|   605xx|   IL|         < 1 year|        0.0|611.3333333333334|
|          7000.0|            2018|  Debt consolidation|      null|              22.08%|   325xx|   FL|         < 1 year|        0.0|           619.25|
+----------------+----------------+--------------------+----------+--------------------+--------+-----+-----------------+-----------+-----------------+
only showing top 20 rows

In [219]:
movAvg.write.csv('/content/sample_data/MovingAverage100.csv')